h1{
    color: yellowgreen;
    font-size: 50px;
    font-weight: 300;
}
pre + div{
    height: 150px;
    width: auto;
    background-color: azure;
}
input:required{
    border: 1px solid teal;
}
input[type="password"]{
    background-color: lemonchiffon;
}

.parents{
    display: flex;
    width: auto;
    height: 10vh;
    margin:20px;
    justify-content: space-between;
    align-items: center;
}
.child{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    background-color: teal;
}