h1{
    color: yellowgreen;
    font-size: 50px;
    font-weight: 300;
}
div{
    height: 150px;
    width: 150px;
    background-color: yellowgreen;
}
.parents{
    display: flex;
    width: auto;
    height: 10vh;
    margin:20px;
    justify-content: space-between;
    align-items: center;
}
.child{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    background-color: teal;
}