@import "/variables.css";
@import "/kokoa-clone-2023/CSS/components/user-component.css";

.user-component__column:first-child{
    border-bottom: 0px;
}
.user-component__text--wide-lineheight{
    line-height: 20px;

}
.user-component__text-size{
    font-size: 14px;
    color: gray;
}