.setting-main{
    margin-top: 22px;
    border-bottom: 1px solid rgba(128, 128, 128,0.2);
}

.setting-component{
    display: flex;
    justify-content: space-between;
    margin: 0px 15px;
    align-items: center;
    padding-bottom: 35px;
    color: rgba(59, 59, 59,0.9);
}
.setting-component__title{
    font-size: 20px;
    font-weight: 900;
    margin: 0px 16px;
}
.setting-component__text{
    display: flex;
    padding: 0px 10px;
}
.setting-component__avatar--big{
    font-size: 25px;
}
.setting-component__sub{
    font-size: 18px;
    color: gray;
    padding-right: 3px;

}
.setting-component__sub--none{
    display: none;
}
