.user-component{
    display: flex;
    justify-content: space-between;
}
.user-component__column:first-child{
    display: flex;
    align-items: center;
    margin: -3px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 7px;
    
}
.user-component__subtitle{
    display:contents;
    color: rgb(141, 141, 141);
    font-size: 14px;
}
.user-component__subtitle--none{
    display: none;
}
.user-component__column:last-child{
    display: flex;
    align-items: center;
    margin: 0px 10px;
}

.user-component__column i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    background-color: #fae100;
    border-radius: 18px;
    color: #480f0f;
    border: 0.5px solid #ecd505;
    margin: 0px 10px;
}
.user-component__avatar{
    width: 60px;
    height: 60px;
    border-radius: 20px;
    margin: 10px 10px;
    border: 0.5px solid black;

}
.user-component__avatar--xl{
    width: 70px;
    height: 70px;
}
.user-component__avatar--sm{
    width: 50px;
    height: 50px;
}
.user-component__title{
    font-weight: 600;
    font-size: 18px;
}
.user-component__column__span{
    margin-left: 10px;
    font-size: 12px;
    color: gray;
}
.user-component__text-align{
    flex-direction: column;
    justify-content: center;
    margin-right: 15px;
    align-items: center;
    line-height: 23px;

}